html,
body {
  accent-color: #fff;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 980px) {
    font-size: 14px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

a {
  color: currentColor;
}

.font-bold {
  font-family: 'BT Brik XL';
}

.font-extrabold {
  font-family: 'BT Brik XXL';
}

svg {
  fill: currentColor;
  polyline {
    stroke: currentColor;
  }
  line {
    stroke: currentColor;
  }
}

.text-wrap {
  text-wrap: balance;
}
