html,
body {
  accent-color: #fff;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 980px) {
    font-size: 14px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

a {
  color: currentColor;
}

.font-bold {
  font-weight: bold;
  font-family: 'Standerd Bold';
}
.font-extrabold {
  font-weight: 900;
  font-family: 'Source Sans Pro';
}

// .font-light {
//   font-weight: 300;
//   font-family: "Standerd Light";
// }
// .font-medium {
//   font-weight: 500;
//   font-family: "Standerd Medium";
// }
// .font-bold {
//   font-weight: bold;
//   font-family: "Standerd Bold";
// }

// .font-extra {
//   font-family: "Brodaers Expanded Round";
// }
// .font-extraitalic {
//   font-family: "Bodoni Moda";
//   font-style: italic;
// }

.text-outline {
  color: #f7f7f7;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

svg {
  fill: currentColor;
  polyline {
    stroke: currentColor;
  }
  line {
    stroke: currentColor;
  }
}

.text-wrap {
  text-wrap: balance;
}
