.mainmenu {
  top: -100vh;
}
.mainmenu.active {
  top: 0;
  transition: all 0.4s ease;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects-grid article:nth-child(3n + 1) {
  grid-column: span 2;
}
.projects-grid article {
  min-height: 350px;
}
